<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/ViewHelpers"
      xmlns:tl="http://typo3.org/ns/Buepro/Timelog/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.transform} == 0">
    {text -> f:format.nl2br()}
</f:if>
<f:if condition="{settings.transform} == 1">
    <div class="tx-timelog-markdown">
        {pvh:format.pregReplace(subject: text, pattern: settings.regexp, replacement: '')
            -> tl:parsedown()
            -> f:format.raw()}
    </div>
</f:if>
<f:if condition="{settings.transform} == 2">
    {f:variable(name: 'transform', value: 1)
        -> pvh:condition.string.contains(haystack: text, needle: settings.token)}
    <f:if condition="{transform}">
        <f:then>
            <div class="tx-timelog-markdown">
                {pvh:format.pregReplace(subject: text, pattern: settings.regexp, replacement: '')
                    -> tl:parsedown()
                    -> f:format.raw()}
            </div>
        </f:then>
        <f:else>
            {text -> f:format.nl2br()}
        </f:else>
    </f:if>
</f:if>
</html>
