<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/ViewHelpers"
      xmlns:auxlibs="http://typo3.org/ns/Buepro/Auxlibs/ViewHelpers"
      data-namespace-typo3-fluid="true">

{f:variable(name: 'clientName', value: project.client.companyAndDisplayName)}

<f:comment>Creates icon to send email to client</f:comment>
{f:uri.action(arguments: {projectHandle: project.handle}, additionalParams: {smt: 'client'}) -> f:variable(name: 'mailUri')}
{f:translate(key: 'sendMailTo') -> f:format.printf(arguments: {0: clientName}) -> f:variable(name: 'sendMailTitle')}
<f:if condition="{project.client.email}">
    <f:variable name="sendMailToClient">
        <a class="tlc-sendmail" href="javascript:void(0)" title="{sendMailTitle}" data-model="project"
           data-handle="{project.handle}" data-uri="{mailUri}">
            {settings.icons.sendMailTag} {f:translate(key: 'sendEmailToClient')}
        </a>
    </f:variable>
</f:if>
<f:comment>The 'p-'-prefix is needed for the project link to work in the project list view.</f:comment>
<div id="{f:if(condition: '{settings.controller.name} != \'Task\'', then: 'p-')}{project.handle}" class="tx-timelog-project card">
    <div class="card-body">
        <div class="tlc-desc overflow-hidden mb-4">
            <f:if condition="{project.title}">
                <header class="frame-header">
                    <h4>{project.title}</h4>
                </header>
            </f:if>
            <f:render partial="Helper/Parsedown" arguments="{text: project.description, settings: settings.markdown}" />
        </div>
        <div class="row">
            <div class="col-md-7">
                <table class="table table-sm table-striped">
                    <tbody>
                        <f:if condition="{clientName}">
                            <tr>
                                <th scope="row">{f:translate(key: 'tx_timelog_domain_model_project.client')}</th>
                                <td>
                                    {clientName}
                                </td>
                            </tr>
                        </f:if>
                    <tr>
                        <th scope="row">{f:translate(key: 'handle')}</th>
                        <td>
                            <f:if condition="{project.handle}">
                                <f:link.action controller="Task" action="list"
                                               arguments="{projectHandle: project.handle}" section="{project.handle}"
                                               absolute="1" title="{f:translate(key: 'projectHandle')}">
                                    {project.handle}
                                </f:link.action>
                            </f:if>
                        </td>
                    </tr>
                    <f:be.security.ifAuthenticated>
                        <f:if condition="{sendMailToClient} || {hasTasksOnHeap}">
                            <tr>
                                <th scope="row">{f:translate(key: 'actions')}</th>
                                <td>
                                    <f:if condition="{sendMailToClient}">
                                    <span class="tlc-sendmail-icons">
                                        {sendMailToClient -> f:format.htmlentitiesDecode()}
                                        <div class="spinner-grow text-warning" role="status">
                                            <span class="sr-only visually-hidden">Loading...</span>
                                        </div>
                                        <ion-icon class="text-success" name="checkmark"></ion-icon>
                                        <ion-icon class="text-danger" name="close"></ion-icon>
                                    </span><br />
                                    </f:if>
                                    <f:if condition="{hasTasksOnHeap}">
                                        {f:variable(name: '_taskGroupHandle', value: 'exclude') -> f:if(condition: taskGroupExclude)}
                                        {f:variable(name: '_taskGroupHandle', value: taskGroup.handle) -> f:if(condition: taskGroup)}
                                        <f:link.action action="createBatch"
                                                       arguments="{projectHandle: project.handle, taskGroupHandle: _taskGroupHandle}"
                                                       title="{f:translate(key: 'createBatch')}">
                                            {settings.icons.batchTasksTag -> f:format.htmlentitiesDecode()} {f:translate(key: 'createBatch')}<br />
                                        </f:link.action>
                                    </f:if>
                                </td>
                            </tr>
                        </f:if>
                    </f:be.security.ifAuthenticated>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <table class="table table-sm table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">{f:translate(key: 'active_time')}</th>
                            <td>{project.activeTime -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                        <tr>
                            <th scope="row">{f:translate(key: 'heap_time')}</th>
                            <td>{project.heapTime -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                        <tr>
                            <th scope="row">{f:translate(key: 'batch_time')}</th>
                            <td>{project.batchTime -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <f:render section="taskFilter" arguments="{_all}" />
    </div>
</div>

<f:section name="taskFilter">
    <f:if condition="{taskGroups} || {batches}">
        <div class="tx-timelog-taskfilter">
            <f:form action="list" arguments="{projectHandle: project.handle}">
                <f:if condition="{taskGroups}">
                    <div class="tx-timelog-taskgroupfilter mt-3">
                        <h5>{f:translate(key: 'taskGroup')}</h5>
                        <div class="form-group">
                            <script>function timelogSubmitForm (field) { const batchSelector = document.getElementById("tx-timelog-formfield-batchhandle"); if (batchSelector) { batchSelector.value = ""; } field.form.submit(); }</script>
                            <f:form.select name="taskGroupHandle" class="form-control" additionalAttributes="{onchange: 'timelogSubmitForm(this)'}">
                                <f:form.select.option value="" selected="{pvh:condition.variable.isNull(value: taskGroup, then: 1, else: 0)}">
                                    {f:translate(key: 'includeAll')}
                                </f:form.select.option>
                                <f:form.select.option value="exclude" selected="{taskGroupExclude}">
                                    {f:translate(key: 'excludeAll')}
                                </f:form.select.option>
                                <f:for each="{taskGroups}" as="aTaskGroup">
                                    <f:form.select.option value="{aTaskGroup.handle}" selected="{taskGroup.handle} == {aTaskGroup.handle}">
                                        {aTaskGroup.title} - {aTaskGroup.handle} <f:if condition="{aTaskGroup.heapTime}">({aTaskGroup.heapTime -> f:format.number(decimals: 1)} h)</f:if>
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </div>
                    </div>
                    <f:render section="taskGroupInfo" arguments="{taskGroup: taskGroup}" />
                </f:if>
                <f:if condition="{batches}">
                    <div class="tx-timelog-batchfilter mt-3">
                        <h5>{f:translate(key: 'batch')}</h5>
                        <div class="form-group">
                            <f:form.select id="tx-timelog-formfield-batchhandle" name="batchHandle" class="form-control" additionalAttributes="{onchange: 'this.form.submit()'}">
                                <f:form.select.option value="" selected="{batch.handle} == ''">
                                    {f:translate(key: 'heapedTasks')}
                                </f:form.select.option>
                                <f:for each="{batches}" as="aBatch">
                                    <f:form.select.option value="{aBatch.handle}" selected="{batch.handle} == {aBatch.handle}">
                                        {aBatch.date -> f:format.date(format: settings.general.dateTimeFormat)}
                                        - {aBatch.sumActiveTime -> f:format.number(decimals: 2)} {f:translate(key: 'hourAbbreviation')}
                                        - {aBatch.handle}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </div>
                    </div>
                </f:if>
            </f:form>
        </div>
    </f:if>
</f:section>

<f:section name="taskGroupInfo">
    <f:if condition="{pvh:condition.variable.isNull(value: taskGroup, then: 0, else: 1)}">
        <div class="tx-timelog-taskgroup-info row">
            <div class="col-md-7">
                <table class="table table-sm table-striped">
                    <tbody>
                        <f:if condition="{taskGroup.description}">
                            <tr>
                                <td colspan="2">
                                    <f:render partial="Helper/Parsedown"
                                              arguments="{text: taskGroup.description, settings: settings.markdown}" />
                                </td>
                            </tr>
                        </f:if>
                        <tr>
                            <th scope="row">{f:translate(key: 'handle')}</th>
                            <td>
                                <f:if condition="{taskGroup.handle}">
                                    <f:link.action controller="Task" action="list"
                                                   arguments="{taskGroupHandle: taskGroup.handle}" section="{project.handle}"
                                                   absolute="1" title="{f:translate(key: 'taskGroupHandle')}">
                                        {taskGroup.handle}
                                    </f:link.action>
                                </f:if>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <table class="table table-sm table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">{f:translate(key: 'time_target')}</th>
                            <td>{taskGroup.timeTarget -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                        <tr>
                            <th scope="row">{f:translate(key: 'active_time')}</th>
                            <td>{taskGroup.activeTime -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                        <tr>
                            <th scope="row">{f:translate(key: 'heap_time')}</th>
                            <td>{taskGroup.heapTime -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                        <tr>
                            <th scope="row">{f:translate(key: 'batch_time')}</th>
                            <td>{taskGroup.batchTime -> f:format.number(decimals: 2)}{f:translate(id: 'hourAbbreviation')}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </f:if>
</f:section>
</html>

