<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx-timelog-projectsearch card overflow-hidden">
    <div class="card-body">
        <header class="frame-header">
            <h4>{f:translate(key: 'findtasks')}</h4>
        </header>
        <f:form action="list">
            <div class="form-row row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                <div class="col mb-2">
                    <f:form.textfield class="form-control tlc-findfield" name="projectHandle"
                                      placeholder="{f:translate(key: 'projectHandle')}"
                                      value="{project.handle}"/>
                </div>
                <div class="col mb-2">
                    <f:form.textfield class="form-control tlc-findfield" name="taskGroupHandle"
                                      placeholder="{f:translate(key: 'taskGroupHandle')}"
                                      value="{taskGroup.handle}"/>
                </div>
                <div class="col mb-2">
                    <f:form.textfield class="form-control tlc-findfield" name="batchHandle"
                                      placeholder="{f:translate(key: 'batchHandle')}"
                                      value="{batch.handle}"/>
                </div>
                <div class="col mb-2">
                    <f:form.textfield class="form-control tlc-findfield" name="taskHandle"
                                      placeholder="{f:translate(key: 'taskHandle')}"/>
                </div>
                <div class="col mb-2">
                    <button type="submit" class="btn btn-primary">{f:translate(key: 'find')}</button>
                </div>
            </div>
        </f:form>
    </div>
</div>

<f:asset.script identifier="timelog-task-find">
;+function ( $ ) {
    $(function () {
        $('.tx-timelog-projectsearch input').on('click',function () {
            var $parent = $(this).closest('.tx-timelog-projectsearch')
            $('.tlc-findfield',$parent).attr('value','');
        })
    });
}(jQuery);
</f:asset.script>

</html>
