<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:auxlibs="http://typo3.org/ns/Buepro/Auxlibs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="tx-timelog-tasklist">
    <header class="frame-header">
        <f:variable name="taskGroupLink">
            <f:link.action arguments="{taskGroupHandle: taskGroup.handle}" section="{project.handle}"
                           absolute="1" title="{f:translate(key: 'taskGroupHandle')}">
                {taskGroup.title} ({taskGroup.handle})
            </f:link.action>
        </f:variable>
        <f:variable name="projectLink">
            <f:link.action arguments="{projectHandle: project.handle}" section="{project.handle}"
                           absolute="1" title="{f:translate(key: 'projectHandle')}">
                {project.title} ({project.handle})
            </f:link.action>
        </f:variable>
        <f:if condition="{batch}">
            <f:then>
                <f:variable name="batchLink"><f:link.action
                    arguments="{batchHandle: batch.handle}"
                    section="{project.handle}"
                    absolute="1"
                    title="{f:translate(key: 'batchHandle')}">{batch.handle}</f:link.action></f:variable>
                <h4>
                    <f:format.htmlentitiesDecode>
                        <f:if condition="{taskGroup}">
                            <f:then>
                                <f:format.printf arguments="{0: batchLink, 1: taskGroupLink}">
                                    {f:translate(key: 'batchGroupListTitle')}
                                </f:format.printf>
                            </f:then>
                            <f:else>
                                <f:format.printf arguments="{0: batchLink, 1: projectLink}">
                                    {f:translate(key: 'batchProjectListTitle')}
                                </f:format.printf>
                            </f:else>
                        </f:if>
                    </f:format.htmlentitiesDecode>
                </h4>
            </f:then>
            <f:else>
                <h4>
                    <f:format.htmlentitiesDecode>
                        <f:if condition="{taskGroup}">
                            <f:then>
                                <f:format.printf arguments="{0: taskGroupLink}">
                                    {f:translate(key: 'heapGroupListTitle')}
                                </f:format.printf>
                            </f:then>
                            <f:else>
                                <f:if condition="{project}">
                                    <f:format.printf arguments="{0: projectLink}">
                                        {f:translate(key: 'heapProjectListTitle')}
                                    </f:format.printf>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:format.htmlentitiesDecode>
                </h4>
            </f:else>
        </f:if>
    </header>
    <f:for each="{tasks}" as="task">
        <div id="{task.handle}" class="tlc-task row mx-0 align-items-center">
            <div class="tlc-info col-md-2 py-3">
                <div class="row">
                    <div class="col-auto col-md-12">{task.endTime -> f:format.date(format: 'd.m.Y')}</div>
                    <div class="col-auto col-md-12">
                        {task.activeTime -> f:format.number(decimals: 2)} {f:translate(key: 'hourAbbreviation')}
                    </div>
                    <div class="col-auto col-md-12">
                        <f:link.action arguments="{taskHandle: task.handle}"
                                       section="{task.handle}"
                                       title="{f:translate(key: 'taskHandle')}">
                            <small>{task.handle}</small>
                        </f:link.action>
                    </div>
                    <f:if condition="{task.taskGroup}">
                        <div class="col-auto col-md-12">
                            <f:link.action arguments="{taskGroupHandle: task.taskGroup.handle}"
                                           title="{task.taskGroup.title}">
                                <small>
                                    <f:format.crop maxCharacters="10" append="..">{task.taskGroup.title}</f:format.crop>
                                </small>
                            </f:link.action>
                        </div>
                    </f:if>

                </div>
            </div>
            <div class="tlc-desc col py-3">
                <f:if condition="{task.title}">
                    <header class="frame-header">
                        <h5>{task.title}</h5>
                    </header>
                </f:if>
                <f:render partial="Helper/Parsedown" arguments="{text: task.description, settings: settings.markdown}" />
            </div>
        </div>
    </f:for>
</div>

</html>
