<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:flashMessages/>

<div class="tx-timelog-taskpanel">
    <section class="my-5 d-print-none">
        <f:render partial="Task/Find" arguments="{_all}" />
    </section>
    <f:if condition="{project}">
        <section class="my-5">
            <f:render partial="Project/Single" arguments="{_all}" />
        </section>
    </f:if>
    <f:if condition="{noTasksFound}">
        <section class="my-5">
            <div class="alert alert-info" role="alert">
                {f:translate(key: 'noTasksFound')}
            </div>
        </section>
    </f:if>
    <f:if condition="{tasks}">
        <section class="my-5">
            <f:render partial="Task/List" arguments="{_all}" />
        </section>
    </f:if>
</div>

<f:asset.script identifier="timelog-sendmail" src="EXT:timelog/Resources/Public/JavaScript/Src/sendmail.jquery.js" />

</html>
